body {
    background-color: lightblue;
    color: darkblue
}
h1 {
    font-family:'arial', sans-serif;
    font-size: 36px;
    text-align: center;
}
        p1{
    font-family: 'georgia', serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
    color: rgb(130, 100, 95);}

         p2{
        font-family: 'georgia', serif;
        font-size: 18px;
        padding: 10px;
        margin: 20px;
        color: blueviolet;}

}